[Desktop Entry]
Version=1.0
Name=SimpleIPTV
GenericName=SimpleIPTV
Comment=Watch TV
Exec=simpleiptv
Icon=simpleiptv-icon
Terminal=false
Type=Application
Categories=Network;TV;
StartupNotify=true
